// Primary Colors 
$Grey: #333;
$DeepGreen: #00ff00;
$Black:  #111211;
$White: #ffffff;
$Red: #ff0000;
$Blue: #000cfe;

// Primary Neon Colors
$NeonPink: #FF0099;
$NeonPurple: #6E0DD0;


// Margins & padding | P -> N%
$MarginWidthP: 5%; 
$PaddingWidthP: 4%;


// Size -> rem
$Title: 2rem;
$SubTitle: 0.9rem;
$FontSize: 1.5rem;

// Size -> px
$FontSizePX: 20px;
$OutlinePX: 5px;